<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Programming</h4>
                    <p class="text-muted">Completed software engineering internships at gaming giants PlayStation and Twitch. 3+ years of rigorous coding experience in Python, Java, C++, and HTML/CSS.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Designing</h4>
                    <p class="text-muted">3+ years of designing for various playful experiences; created my own games in Unity, prototyped UI tools for game developers, and written interactive curricula for K-12 students.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Writing</h4>
                    <p class="text-muted">Maintained blogs where I blast all my personal thoughts to the Internet since 2011, both personally and professionally. 3+ years of writing and researching various media phenomena that tickled my fancy.</p>
                </div>
            </div>
        </div>
    </section>